body {
  background-image:url(images/akan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    background: brown;
    border: 1px solid black;
    padding: 50px;
    border-radius: 40px;
    width: 30%;
    text-align: center;
    
}

.inputting {
  text-align: left;
}

label {
  display: block;
  font-size: 1.0rem;
  font-weight: 400;
  margin-bottom: 3%;
  
}

input, select {
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 8px;
  outline: none;
}

button {
  width: 100%;
  border-radius: 10px;
  background: #464545;
  color: white;
  border: none;
  padding: 14px;
  margin-top: 3%;
  cursor: pointer;
  transition: transform .2s ease;
}

button:hover {
  background: #000;
  transform: scale(1.05);
}