body {
  background-image:url(images/akan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-decoration: underline;

}

.description {
  background: white;
  border-radius: 10px;
  display: block;
  margin-bottom: 80px;
}

.container {
  position: relative;
  background: brown;
  border: 1px solid black;
  padding: 50px;
  border-radius: 40px;
  width: 30%;
  text-align: center;
  margin-top: 0;

}

.inputting {
  text-align: left;
}

label {
  display: block;
  font-size: 1.0rem;
  font-weight: 400;
  margin-bottom: 3%;
}

input, select {
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 8px;
  outline: none;
}

button {
  width: 100%;
  border-radius: 10px;
  background: #464545;
  color: white;
  border: none;
  padding: 14px;
  margin-top: 3%  ;
  cursor: pointer;
  transition: transform .2s ease;
}

button:hover {
  background: #000;
  transform: scale(1.05);
}

.result-container.show {
    opacity: 1;
    transform: translateY(0);
}

.text-content h2 {
  font-size: 40px;
}

.text-content p {
  margin: 0 auto 30px auto;
}

.layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.table-card {
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0,0,0,0.55);
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  opacity: 0.8;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

tbody tr:not(:last-child) td {
  border-bottom: 1px solid rgba(255,255,255,0.15);
}


